<html>
	<head>
	</head>
	<body>
		<form>
			<p>
				Enter the text to encrypt...<br>
				<input type='text' name='encrypt'/>
			</p>
			<p>
				Enter the offset<br>
				<input type='integer' name='offset'/>
				<input type='submit' value='Encrypt!'/>
			</p>
		</form>
		<p>
			Your encrypted message:<br>
			<%= response %>
		</p>
	</body>
</html>